.modal.fade.modal-assign-driver.modal-load-mgmt{tabindex: "-1", role: "dialog"}
  .modal-dialog{role:"document"}
    .modal-content

      .modal-header
        %button.close.btn-close{type: "button", data:{dismiss:"modal"}, aria:{label: "Close"}}
          %span{aria:{hidden:"true"}} &times;

        = partial 'partials/modals/modal-header'

      - if modal == 'assign-driver-1'
        = partial 'partials/modals/assign-driver-1'

      - elsif modal == 'assign-driver-2'
        = partial 'partials/modals/assign-driver-2'

      - elsif modal == 'assign-driver-3'
        = partial 'partials/modals/assign-driver-3'

      - elsif modal == 'assign-driver-4'
        = partial 'partials/modals/assign-driver-4'

      - else
        %h2 This modal does not exist

