-@title= 'Carrier Dashboard'
-@page_classes= 'carrier-dashboard'

= partial 'partials/header_carrier_dashboard', locals: {loads: '22 Loads Located', map: true}
= partial 'partials/map_spacer'

.container.main-content
  %section
    .section-head
      %h1.section-label
        Loads Needing Action
        %span.section-sub-label
          Via Online Reporting
      = link_to 'View All 11 Active Loads'
    .row
      .col-md-12
        = partial 'partials/carrier_dashboard_canceled_loads'

        %nav.pull-left
          =link_to 'Show 5 More Loads', '#'
        .results-count.pull-right
          Showing 1-5 of 7 Loads Needing Action
  %section
    .section-head
      %h1.section-label
        Multi Stop Loads
        %span.section-sub-label
          With Upcoming Appointments
    .row
      .col-md-12
        = partial 'partials/carrier_dashboard_table_multi_stop'

        %nav.pull-left
          =link_to 'Show 5 More Loads', '#'
        .results-count.pull-right
          Showing 1-5 of 7 Multi Stop Loads